# Python
*.pyc
*.pyo
*.pyd
**/__pycache__/
**/.pytest_cache/
**/*.egg-info/
**/.venv/

# Local env / secrets
**/.env
**/.env.*
**/.env_.*

# Data / caches / outputs
**/data/
**/data_prod_*/
**/data_live_*/
**/data_paper_*/
**/data_*/
**/logs/
**/plots/
**/backtests/
**/prices/
**/state/

# VCS / editor
**/.git/
**/.vscode/
**/.DS_Store/
**/.github/

# Playgrounds code
**/playgrounds/
