export IBIND_USE_OAUTH=True
export IBIND_OAUTH1A_CONSUMER_KEY=YOUR_CONSUMER_KEY_HERE
export IBIND_OAUTH1A_ENCRYPTION_KEY_FP=YOUR_ENCRYPTION_KEY_FILE_PATH
export IBIND_OAUTH1A_SIGNATURE_KEY_FP=YOUR_SIGNATURE_KEY_FILE_PATH
export IBIND_OAUTH1A_ACCESS_TOKEN=YOUR_ACCESS_TOKEN_HERE
export IBIND_OAUTH1A_ACCESS_TOKEN_SECRET=YOUR_ACCESS_TOKEN_SECRET_HERE
export IBIND_OAUTH1A_DH_PRIME=YOUR_DH_PRIME_HERE