# Docker/Compose env_file format (no `export`)
# Alpaca credentials
# Note: These are still required even if using Public.com broker adapter,
# because the IML uses Alpaca for market clock. It should be safe to use
# Alpaca paper credentials here though.
ALPACA_API_KEY=
ALPACA_SECRET_KEY=
ALPACA_BASE_URL=https://paper-api.alpaca.markets
ALPACA_PAPER=true

# Public.com credentials
PUBLICDOTCOM_API_SECRET_KEY=
PUBLICDOTCOM_DEFAULT_ACCOUNT_NUMBER=
